@font-face {
    font-family: 'Outfit-h1';
    src: url('./fonts/Outfit/Outfit-VariableFont_wght.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit-p';
    src: url('./fonts/Outfit/Outfit-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.parent-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('./images/favicon-32x32.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1400px;
    height: 90%;
    margin: 0 auto;
    box-shadow: -20px 0px 100px hsla(220, 15%, 55%, 0.2), 20px 0px 100px hsla(220, 15%, 55%, 0.2), 0px 20px 100px hsla(220, 15%, 55%, 0.2);
  }
  
  .box {
    width: 20%;
    height: auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 20px;
  }

  img {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  h1 {
    color: hsl(218, 44%, 22%);
    display: inline-block;
    font-size: 2em;
    text-align: center;
    font-family: 'Outfit-h1', 'Arial', 'sans-serif';
}

  p {
    display: inline-block;
    font-size: 15px;
    text-align: center;
    color: hsl(220, 15%, 55%);
    font-family: 'Outfit-p', 'Arial', 'sans-serif';
}